.a, .b, .c, .d, .e, .f, .g {
  margin: 50px 0;
}


.a {
  display: flex;
}
.a1 {
  background-color: lightblue;
  width: 200px;
}
.a2 {
  width: 75px;
  background-color: lightcoral;
}

.b {
  display: flex;
}
.b1 {
  background-color: lightblue;
  width: 50px;
}
.b2 {
  background-color: lightcoral;
  flex: 1;
}
.b3 {
  background-color: lightblue;
  width: 75px;
}

.c {
  display: flex;
  justify-content: space-between;
}
.c1 {
  background-color: lightcoral;
}
.c2 {
  background-color: lightcoral;
}
.c3 {
  background-color: lightcoral;
}
.c4 {
  background-color: lightcoral;
}

.d {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-color: gray;
  height: 50px;
  align-items: center;
}
.d1 {
  background-color: lightcoral;
}
.d2 {
  background-color: lightcoral;
}

.e {
  border-style: solid;
  border-radius: 8px;
  border-color: gray;
  border-width: 1px;
  display: flex;
  flex-direction: column;
}
.eOption {
  display: flex;
  justify-content: space-between;
}

.etxt {
 margin: 8px 0 0 15px;
 font-weight: 600;
}
.enumber {
 margin: 8px 15px 4px 0;
 font-weight: bold;
 background-color: rgb(16, 96, 245);
 color: white;
 border-radius: 20px;
 padding: 5px 14px;
 align-self: center;
}

.f {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  flex-direction: row;
  height: 38px;
  align-items: center;
}
.f1 {
  color: white;
  font-weight: bold;
  width: 100px;
}
.f2 {
  flex: 1;
  margin: 0 50px 0 0;
}
.f2Txt {
  border-radius: 10px;
  border: none;
  width: 100%;
  flex: 1;
}
.f3 {
  color: white;
  border: 1px;
  border-style: solid;
  width: 90px;
  text-align: center;
  padding: 5px 0;
}

.g {
  display: flex;
  flex-direction: column;
}
.g1 {
  display: flex;
}
.gPfp {
  object-fit: cover;
  object-position: center;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin: 15px;
}
.gtxt {
  display: flex;
  flex-direction: column;
}
.g1 p {
  margin: 0;
  width: 125px;
} 
.gName {
  font-weight: bold;
}
.gAlt {
  color: gray;
}
.button {
  background-color: rgb(37, 132, 255);
  color: white;
  font-weight: bold;
  height: 35px;
  border-radius: 6px;
  border: none;
  padding: 0 10px;
}